{% extends 'base.html.twig' %}

{% block title %}Page introuvable{% endblock %}

{% block content %}
   <div class="block-small">
        <h2>Page introuvable</h2>
        <p>Cette page ne semble pas accessible</p>
        <a href="{{path('home')}}" class="btn btn-info">Revenir à l'accueil</a>
   </div>
{% endblock %}
